.D1container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: DejaVu Sans Mono, monospace	;

}
.leftContainer{
    display: flex;
    flex-direction: column;
    
}
.leftContainer h4{
    margin: 0;
    margin-top: .5rem;
    margin-left: 2rem;
    margin-bottom: .5rem;
}
.leftContainer p{
margin: 0;
margin-left: 2rem;
font-size: x-small;
font-weight: 500;
}
.Edit1{
    width: 4rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: white;

    color: tomato;
    cursor: pointer;
}